.header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.527)),url(./../../../images/1664611905699.jpg);
    background-attachment: fixed;
    height: 100vh;

    &__hero-content{
        width: 40%;
        text-align: center;
        padding: 1rem 0;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    &__description{
        font-size: 1.6rem;
        color: #fff;
        margin-bottom: 2.2rem;
        
        @include phone {
            font-size: 1rem;
        }

    }
    &__title{
      color: #fff;
      font-size: 2rem;
      @include phone {
        font-size: 1.4rem;
      }
    }
    
    &__link{
        height: 6rem;
        width: 6rem;
        text-decoration: none;
        background: green;
        color: #fff;
        padding: .7rem 1.2rem;
        border-radius: 4px;
    
    }
    
}